html,
body {

    background-color: black;
}

.solar-system {
    position: relative;
    width: 780px;
    height: 780px;
    margin: auto;
    overflow: hidden;
}


.orbit {
    border: 1px dashed #666;
}

#sun,
.orbit,
.orbit+div,
.orbit+div>div {
    position: absolute;
}

#sun,
.orbit,
.orbit+div {
    top: 50%;
    left: 50%;
}

.orbit+div>div {
    top: 0;
    left: 50%;
}

.orbit,
.orbit+div div,
#earth {
    border-radius: 50%;
}


#sun {

    height: 200px;
    width: 200px;
    background-color: rgb(242, 140, 56);
    margin-top: -100px;
    margin-left: -100px;
    border-radius: 50%;
    box-shadow: 0 0 94px rgb(242, 140, 56);
}

#earth {
    position: absolute;
    top: 0;
    left: 50%;
    height: 50px;
    width: 50px;
    margin-left: -25px;
    margin-top: -25px;
    border-radius: 50%;
    box-shadow: 0 0 34px #3a4385;
}

.earth-orbit,
.earth-spin {
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
}

#moon {
    margin-top: -6px;
    margin-left: -6px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 0 14px #3a4385;
}

.moon-orbit,
.moon-spin {
    height: 90px;
    width: 90px;
    margin-top: -45px;
    margin-left: -45px;
    border-color: #447;
}

#venus {
    margin-top: -20px;
    margin-left: -20px;
    height: 40px;
    width: 40px;
    background-color: #FFC300;
    box-shadow: 0 0 34px #c7b518;
}

.venus-orbit,
.venus-spin {
    margin-top: -185px;
    margin-left: -185px;
    width: 370px;
    height: 370px;
}

#mercury {
    margin-top: -13.5px;
    margin-left: -13.5px;
    height: 25px;
    width: 25px;
    background-color: #808080;
    box-shadow: 0 0 34px #63678a;
}

.mercury-orbit,
.mercury-spin {
    width: 280px;
    height: 280px;
    margin-left: -140px;
    margin-top: -140px;
}

#mars {
    margin-top: -16px;
    margin-left: -16px;
    height: 32px;
    width: 32px;
    background-color: #005a8d;
    box-shadow: 0 0 14px #3266a6;
}

.mars-orbit,
.mars-spin {
    width: 700px;
    height: 700px;
    margin-left: -350px;
    margin-top: -350px;
}



@keyframes spin-right {
    100% {
        transform: rotate(360deg);
    }
}

.earth-spin {
    animation: spin-right 36.5s linear infinite;
}

.moon-spin {
    animation: spin-right 3s linear infinite;
}

.venus-spin {
    animation: spin-right 22s linear infinite;
}

.mercury-spin {
    animation: spin-right 8.8s linear infinite;
}

.mars-spin {
    animation: spin-right 68.7s linear infinite;
}

p {
    color: white;
    opacity: 8%;
}
